{{ template "header" . }}
{{ template "menu" . }}

{{if gt  (len .articles) 0}}
  {{range .articles}}
  <article>
    <header> 
      <a href="/@{{.Author}}"><img align="left" class="u-square micro" src="{{.Image}}"/></a>
      <p>
        <a href="/@{{.Author}}">@{{.Author}}</a>&nbsp;&nbsp;&nbsp;<a href="/@{{.Author}}/{{.ID}}">{{.CreatedAt| todate}}</a>
      </p>
    </header>
    <section>
      {{if .Title}}
        <h3>{{.Title}}</h3>
      {{end}}
      {{.HTML}}
      <div class="comment">
        <a href="/@{{.Author}}/{{.ID}}#share">comments ({{len .Comments}})</a>
      </div>
      <hr/>
    </section>
  </article>
  {{end}}

  {{if .page}}
    <nav>
    {{if eq .p 0}}
      &laquo;
      &nbsp;&nbsp;
      &lsaquo;
    {{else}}
      <a href="/all">&laquo;</a>
      &nbsp;&nbsp;
      <a href="/all/?p={{.prev}}">&lsaquo;</a>
    {{end}}

    &nbsp;&nbsp;&nbsp;&nbsp;{{.page}}&nbsp;&nbsp;&nbsp;&nbsp;

    {{if le .next 1}}
    &rsaquo;
    {{else }}
    <a href="/all/?p={{.next}}">&rsaquo;</a>
    {{end}}
    &nbsp;&nbsp;
    <a href="/all/?p={{.last}}">&raquo;</a>
    </nav>
  {{end}}
{{else}}
<section style="margin-right: auto; margin-left: auto;display: flex;
justify-content: center;min-height: 400px;font-family: 'PT Sans Caption', serif;">
  <h3><i>OMG.YOUR EYES.</i></h3>
</section>
{{end}}

{{ template "footer" . }}