{{ template "header" . }}
{{ template "menu" . }}
<article>
  <header> 
    <img align="left" class="u-square small" src="{{.article.Image}}" />
    <p>
     {{.article.CreatedAt| todate}} <br/>{{ template "buttons" .}}
    </p>
  </header>
  <p>
      {{.body}}
  </p>
</article>
<hr />
<form  action="/article/@{{.article.Author}}/{{.article.ID}}/comments" method="post">
    <textarea name="body" placeholder="Write a comment..." rows="3"></textarea>
    <button type="submit" >
     Post Comment
    </button>
</form>
{{template "footer" .}}