{{ template "header" . }}
{{ template "menu" . }}

{{$titl := var "title, text"}}
{{$img := var "image, link"}}
{{$hashtag := var "tag, without #, alphanum"}}
{{$pub := var "Publish"}}
{{$upl := var "upload image"}}

{{if eq .lang "ru"}}
	{{set $titl "заголовок, текст"}}
	{{set $img "картинка, ссылка"}}
	{{set $hashtag "тег, без #, латинские буквы, слитно"}}
	{{set $pub "Опубликовать"}}
	{{set $upl "загрузить картинку"}}
{{end}}
<section>
<form  action="{{.path}}" method="post">
	<input name="title"  type="text" placeholder="{{$titl}}, 0..255" value="{{.title}}">
	<input name="ogimage" type="text" placeholder="{{$img}}, 0..255" value="{{.ogimage}}">
	<textarea id="mde" name="body">{{.body}}</textarea>
	<input name="tag" type="text" placeholder="{{$hashtag}}, 0..20" value="{{.tag}}">
	<input name="token" type="hidden" value="{{.token}}">
  <button type="submit" onclick="simplemde.toTextArea();" accesskey="p" >{{$pub}}</button>
</form>
</section>
<section>
	<details>
		<summary>{{$upl}}</summary>
		<p>
			<a href="/upload" target="_blank" >upload from file</a>
		</p>		
	</details>
</section>
{{if ne .nojs "true"}}
	<script>
	var simplemde = new InscrybMDE({
		autoDownloadFontAwesome: true,
		autofocus: true,
		autosave: {
			enabled: true,
			uniqueId: "{{.uniqueid}}",
			delay: 1000,
		},
		promptURLs: true,
		placeholder: "text, markdown, 10..65536",
		element: document.getElementById("mde"),
		minHeight: "400px",
		maxHeight: "400px",
		spellChecker: false,
	});
	</script>
{{end}}
{{ template "footer" . }}