{{ template "header" . }}
{{ template "menu" . }}

{{$titl := var "title, text"}}
{{$img := var "image, link"}}
{{$hashtag := var "tag, without #, alphanum"}}
{{$pub := var "Publish"}}
{{$upl := var "upload image"}}

{{if eq .lang "ru"}}
	{{set $titl "заголовок, текст"}}
	{{set $img "картинка, ссылка"}}
	{{set $hashtag "тег, без #, латинские буквы, слитно"}}
	{{set $pub "Опубликовать"}}
	{{set $upl "загрузить картинку"}}
{{end}}
<section>
<form  action="{{.path}}" method="post">
	<input name="title"  type="text" placeholder="{{$titl}}, 0..255" value="{{.title}}">
	<input name="ogimage" type="text" placeholder="{{$img}}, 0..255" value="{{.ogimage}}">
	<textarea id="mde" rows="10" name="body">{{.body}}</textarea>
	<input name="tag" type="text" placeholder="{{$hashtag}}, 0..20" value="{{.tag}}">
	<input name="token" type="hidden" value="{{.token}}">
  <button type="submit" onclick="simplemde.toTextArea();" accesskey="p" >{{$pub}}</button>
</form>
</section>
<section>
	<details>
		<summary>{{$upl}}</summary>
		<p>
			<a href="/upload" target="_blank" >upload from file</a>
		</p>
	</details>
</section>
{{if ne .nojs "true"}}
	<script>
		var element = document.getElementById('mde');
		var settings = {
			params: {
				autosave: 5,
				wordwrap: {
					paramVisible: false,
					active: false
				},
				doubleReturn: {
					modificator: 'shiftKey',
					active: true
				}
			},
			classes: {
				container: ['tgram-editor']
			}
		};
		var editor = new Editor(element, settings);

		editor.init();
	</script>
{{end}}
{{ template "footer" . }}