{{ template "header" . }}
{{ template "menu" . }}
<aside>
  <nav>
    <ul>
        {{if eq (print "/@" .username) .path}}
        <li>
          <a href="/editor/0">new post&nbsp;</a>
        </li>
        <li>
          <a href="/favorites/@{{.username}}">favorites&nbsp;</a>
        </li>
        <li>
          <a href="/settings">settings&nbsp;</a>
        </li>
        {{else}}
          {{if .isfollow}}
          <li>
            <a href="/unfollow/{{.author.Username}}/@{{.author.Username}}" >
            &nbsp;unfollow ({{.followcnt}})</a>
          </li>
          {{else}}
            <li>
              <a href="/follow/{{.author.Username}}/@{{.author.Username}}">
              &nbsp;follow ({{.followcnt}})</span></a>
            </li>
          {{end}}
          <li>
            <a href="/favorites/@{{.author.Username}}">&nbsp;favorites</a>
          </li>
        {{end}}
    </ul>
  </nav>
</aside>
<section>
  <img align="left"  style="margin-right:20px" class="u-square medium" src="{{.author.Image}}">
  {{.author.Username}} 
  <br>{{.author.Bio}}
  {{if eq .username "recoilme" }}
  <br>ip:"{{.author.IP}}"
  {{end}}
</section>
<hr>
  {{range .articles}}
  <article>
    <header> 
      <img align="left" class="u-square micro" src="{{.Image}}" />
      <p>
        <a href="/@{{.Author}}/{{.ID}}">{{.CreatedAt| todate}}</a>
      </p>
    </header>
    <section>
      {{if .Title}}
        <h3><a href="/@{{.Author}}/{{.ID}}">{{.Title}}</a></h3>
      {{end}}
      {{.Body | getlead}}
      <div class="comment">
        <a href="/@{{.Author}}/{{.ID}}#share">comments ({{len .Comments}})</a>
      </div>
      <hr/>
    </section>
  </article>
  {{end}}
  <nav>
  {{if eq .p 0}}
  &laquo;
  &nbsp;&nbsp;
  &lsaquo;
  {{else}}
    <a href="/@{{.author.Username}}">&laquo;</a>
    &nbsp;&nbsp;
    <a href="/@{{.author.Username}}?p={{.prev}}">&lsaquo;</a>
  {{end}}
    &nbsp;&nbsp;&nbsp;&nbsp;{{.page}}&nbsp;&nbsp;&nbsp;&nbsp;
  {{if le .next 1}}
    &rsaquo;
  {{else }}
  <a href="/@{{.author.Username}}?p={{.next}}">&rsaquo;</a>
  {{end}}
  &nbsp;&nbsp;
  <a href="/@{{.author.Username}}?p={{.last}}">&raquo;</a>
  </nav>

{{ template "footer" . }}