{{ template "header" . }}
{{ template "menu" . }}
<aside>
  <nav>
    <ul>
        {{if eq (print "/@" .username) .path}}
        <li>
          <a href="/editor/0">New Post</a>
        </li>
        <li>
          <a href="/settings">Settings</a>
        </li>
        {{end}}
    </ul>
  </nav>

</aside>
<section>

  <img align="left"  style="margin-right:20px" class="u-square medium" src="{{.author.Image}}">
  {{.author.Username}} 
  {{if ne (print "/@" .username) .path}}
    {{if .isfollow}}
      <a href="/unfollow/{{.author.Username}}/@{{.author.Username}}" >
      <i class="ion-minus-round"></i>&nbsp;Unfollow  <span class="counter">({{.followcnt}})</span>
    </a>
    {{else}}
    <a href="/follow/{{.author.Username}}/@{{.author.Username}}">
      <i class="ion-plus-round"></i>&nbsp;Follow <span class="counter">({{.followcnt}})</span>
    </a>
    {{end}}
  {{end}}
  <br> {{.author.Bio}}
</section>

<hr>


{{if gt  (len .articles) 0}}
  {{range .articles}}
  <article>
    <header> 
      <img align="left" class="u-square micro" src="{{.Image}}" />
      <p>
        <a href="/@{{.Author}}/{{.ID}}">{{.CreatedAt| todate}}</a>
      </p>
    </header>
    <p>
        {{.HTML}}
    </p>
  </article>
  <hr/>

  {{end}}
{{else}}
<section>
    <img  src="./m/img/dutch.gif">
  </section>
{{end}}


{{ template "footer" . }}