{{ define "buttons" }}
{{if eq .username "recoilme" }}
<a href="/bad/@{{.article.Author}}/{{.article.ID}}">
  bad
</a>
{{end}}
{{if eq .article.Author .username}}
<a href="/editor/{{.article.ID}}">
    edit
</a>
{{else}}
  {{if .isfollow}}
  <a href="/unfollow/{{.article.Author}}/@{{.article.Author}}/{{.article.ID}}">
    unfollow  <span class="counter">({{.followcnt}})</span>
  </a>
  {{else}}
  <a href="/follow/{{.article.Author}}/@{{.article.Author}}/{{.article.ID}}">
    follow  ({{.followcnt}})
  </a>
  {{end}}
{{end}}&nbsp;
{{if eq .article.Author .username }}
<a href="/delete/a/{{.article.ID}}">
  delete
</a>
{{else}}
{{if .isfav}}
<a href="/unfav/{{.article.ID}}/@{{.article.Author}}/{{.article.ID}}">
  unfavorite  ({{.favcnt}})
</a>
{{else}}
<a href="/fav/{{.article.ID}}/@{{.article.Author}}/{{.article.ID}}">
  favorite ({{.favcnt}})
</a>
{{end}}
{{end}}

{{end}}