{{ define "buttons" }}
visitor: {{.view}}&nbsp;&nbsp;
{{if eq .username .config.Admin }}
<a style="color:brown" href="/bad/@{{.article.Author}}/{{.article.ID}}/del">
  del
</a>&nbsp;&nbsp;
<a style="color:brown" href="/bad/@{{.article.Author}}/{{.article.ID}}/bad">
  bad
</a>&nbsp;
{{end}}
{{if eq .article.Author .username}}
fav: {{.favcnt}}&nbsp;&nbsp;fol: {{.followcnt}}&nbsp;&nbsp;
<a href="/editor/{{.article.ID}}">
    edit
</a>
{{else}}
  {{if .isfollow}}
  <a href="/unfollow/{{.article.Author}}/@{{.article.Author}}/{{.article.ID}}">
    unfollow:
  </a> {{.followcnt}}
  {{else}}
  <a href="/follow/{{.article.Author}}/@{{.article.Author}}/{{.article.ID}}">
    follow:
  </a> {{.followcnt}}
  {{end}}
{{end}}&nbsp;
{{if eq .article.Author .username }}
<a href="/delete/a/{{.article.ID}}">
  delete
</a>
{{else}}
{{if .isfav}}
<a href="/unfav/{{.article.ID}}/@{{.article.Author}}/{{.article.ID}}">
  unfavorite:
</a> {{.favcnt}}
{{else}}
<a href="/fav/{{.article.ID}}/@{{.article.Author}}/{{.article.ID}}">
  favorite:
</a> {{.favcnt}}
{{end}}
{{end}}

{{end}}