{{ define "buttons" }}
{{if eq .username "recoilme" }}
<a style="color:brown" href="/bad/@{{.article.Author}}/{{.article.ID}}">
  bad
</a>
{{end}}
{{if eq .article.Author .username}}
favorited: {{.favcnt}}&nbsp;&nbsp;followers: {{.followcnt}}&nbsp;&nbsp;
<a href="/editor/{{.article.ID}}">
    edit
</a>
{{else}}
  {{if .isfollow}}
  <a href="/unfollow/{{.article.Author}}/@{{.article.Author}}/{{.article.ID}}">
    unfollow: {{.followcnt}}
  </a>
  {{else}}
  <a href="/follow/{{.article.Author}}/@{{.article.Author}}/{{.article.ID}}">
    follow: {{.followcnt}}
  </a>
  {{end}}
{{end}}&nbsp;
{{if eq .article.Author .username }}
<a href="/delete/a/{{.article.ID}}">
  delete
</a>
{{else}}
{{if .isfav}}
<a href="/unfav/{{.article.ID}}/@{{.article.Author}}/{{.article.ID}}">
  unfavorite: {{.favcnt}}
</a>
{{else}}
<a href="/fav/{{.article.ID}}/@{{.article.Author}}/{{.article.ID}}">
  favorite: {{.favcnt}}
</a>
{{end}}
{{end}}

{{end}}