{{ define "footer" }}
</main>
<footer>
  <p>
    <span>
		{{if .config.AboutPage}}
      <a href={{.config.AboutPage}}>About</a>&nbsp;&nbsp; 
{{else}}
      <a href="/@recoilme/1">About</a>&nbsp;&nbsp; 
{{end}}
    </span>
    <span>
      <a href="https://t.me/typegramgroup">typegramgroup</a>&nbsp;&nbsp;  
    </span>
    <span >
     <a href="https://github.com/recoilme/tgram">github</a>&nbsp;&nbsp;
    </span>
    <span >
      <a href="https://www.producthunt.com/upcoming/typegram">digest</a>
    </span>
  </p>
  <p>
    <span >
      <a href="/policy">Privacy Statement</a>&nbsp;&nbsp;
    </span>
    <span >
      <a href="/terms">Terms of Service</a>
    </span>
  </p>
</footer>
</body>
</html>
{{ end }}