{{ define "footer" }}
</main>
<footer>
  {{if eq .path "/home" }}
  {{if eq (.lang| tostr) "ph"}}
  {{else}}
  <p>
      
          <a href="https://de.tgr.am">de</a>&nbsp;
          <a href="https://en.tgr.am">en</a>&nbsp;
          <a href="https://es.tgr.am">es</a>&nbsp;
          <a href="https://fr.tgr.am">fr</a>&nbsp;
          <!--<a href="http://ko.tgr.am"><sup>ko</sup></a>-->
          <a href="https://pt.tgr.am">pt</a>&nbsp;
          <a href="https://ru.tgr.am">ru</a>&nbsp;
          <!--<a href="http://sv.tgr.am"><sup>sv</sup></a>-->
          <!--<a href="http://tr.tgr.am"><sup>tr</sup></a>-->
          <!--<a href="http://us.tgr.am"><sup>us</sup></a>-->
          <!--<a href="http://zh.tgr.am"><sup>zh</sup></a>-->
        
        
  </p>
  {{end}}
  {{end}}
  <p>
    <span>
      <a href="{{.config.AboutPage}}">about</a>&nbsp;&nbsp; 
    </span>
    <span >
     <a href="https://github.com/recoilme/tgram">github</a>&nbsp;&nbsp; 
    </span>
    <span>
      <a href="https://t.me/typegramgroup">tg</a>&nbsp;&nbsp; 
    </span>
    <span>
      <a href="https://twitter.com/typegram1">tw</a>&nbsp;&nbsp; 
    </span>
    <span >
      <a href="https://www.producthunt.com/upcoming/typegram">mail</a>&nbsp;&nbsp; 
    </span>

    <span >
      <a href="/policy">privacy</a>&nbsp;&nbsp; 
    </span>
    <span >
      <a href="/terms">terms</a>  
    </span>
  </p>
</footer>
</body>
</html>
{{ end }}