{{ define "header" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tgr.am</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/m/img/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/m/img/apple-touch-icon.png"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption|PT+Serif:400,400i,700,700i" rel="stylesheet"/>
    <link rel="stylesheet" href="/m/css/tgram.css"/>
    <!--Editor-->
    <link rel="stylesheet" href="/m/css/inscrybmde.min.css"/>
    <script src="/m/js/inscrybmde.min.js"></script>
    {{if eq "/register" .path}}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    {{end}}
  </head>
  <body>
{{ end }}