{{ define "header" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--<meta http-equiv="Content-Security-Policy" content="script-src 'self' *.tgr.am">-->
    {{if .title}}
    <title>{{.title}}</title>
    {{else}}
    <title>{{.config.Title}}</title>
    {{end}}
    {{if .description}}
    <meta name="description" content="{{.description}}"/>
    {{else}}
    <meta name="description" content="{{.config.Description}}"/>
    {{end}}

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="language" content="{{.lang}}">
    {{if .ogimage}}
    <meta property="og:image" content="{{.ogimage}}" />
    {{else}}
    <meta property="og:image" content="/m/img/logo_big.png" />
    {{end}}
    <meta name="og:site_name" content="{{.config.SiteName}}"/>

    <link rel="icon" href="/m/img/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/m/img/apple-touch-icon.png"/>
    <!--
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700|PT+Serif:400,400i,700,700i" rel="stylesheet"/>
    -->
    <link rel="stylesheet" href="/m/css/tgram.css"/>
    <!--Editor-->
    {{if .username}}
    {{if ne .nojs "true"}}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/oh-md@2.1.21/style.min.css"/>
    <script type="text/javascript" src="https://unpkg.com/oh-md@2.1.21/index.min.js"></script>
    {{end}}
    {{end}}
  </head>
  <body>
{{ end }}