{{ define "home" }}
<div class="home-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link disabled" href="/articles/feed?limit=10&offset=0">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/articles?limit=10&offset=0">Global Feed</a>
            </li>
          </ul>
        </div>
        {{range .articles}}
        <div class="article-preview">
          <div class="article-meta">
            <a href="/@{{.Author}}"><img src="{{.Image}}" /></a>
            <div class="info">
              <a href="/@{{.Author}}" class="author">{{.Author}}</a>
              <span class="date">{{.CreatedAt | todate}}</span>
            </div>
            <button class="btn btn-outline-primary btn-sm pull-xs-right">
              <i class="ion-heart"></i> 0
            </button>
          </div>
          <a href="/@{{.Author}}/{{.ID}}" class="preview-link">
            <h1></h1>
            <p>{{.Body}}</p>
            <span>Read more...</span>
          </a>
        </div>
        {{end}}

        

      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a href="" class="tag-pill tag-default">programming</a>
            <a href="" class="tag-pill tag-default">javascript</a>
            <a href="" class="tag-pill tag-default">emberjs</a>
            <a href="" class="tag-pill tag-default">angularjs</a>
            <a href="" class="tag-pill tag-default">react</a>
            <a href="" class="tag-pill tag-default">mean</a>
            <a href="" class="tag-pill tag-default">node</a>
            <a href="" class="tag-pill tag-default">rails</a>
          </div>
        </div>
      </div>
      <nav>
      <ul class="pagination">
        {{range .pages}}
        <li class="page-item {{.Active}}">
          <a class="page-link" href="{{.Href}}">{{.ID}}</a>
        </li>
        {{end}}
      </ul>
      </nav>
    </div>
  </div>

</div>
{{ end }}