{{ template "header" . }}
{{ template "menu" . }}
{{if gt  (len .users) 0}}
  {{range .users}}
  <section>
      {{if gt .Unseen 0}}
      <nav class="navaside">
        <ul>
          <li>
            <a class="label" href="/@{{.Username}}?p={{.LastPost}}">unread ({{.Unseen}})</a>
          </li>
        </ul>
      </nav>
      {{end}}
    <a href="/@{{.Username}}"><img align="left" style="margin-right:20px" class="u-square medium" src="{{.Image}}"/></a>
    <p>
      <a href="/@{{.Username}}">@{{.Username}}</a>&nbsp;
      <br> {{.Bio}}
    </p>
    <hr/>
  </section>
  {{end}}
{{else}}
<section style="text-align: center;font-family: 'PT Sans Caption', serif;">
  <a href="/@recoilme/1"><img src="/m/img/logo_big.png"/></a>
  <h1><a href="/@recoilme/1">Zen publishing</a>
    <a href="http://en.tgr.am"><sup>en</sup></a>
    <a href="http://ru.tgr.am"><sup>ru</sup></a>
  </h1>
  <br/><br/><br/><br/>
</section>
{{end}}
{{ template "footer" . }}