{{template "header" .}}
{{template "menu" .}}
<section>
    <h2>Sign in</h2>
    <p>
        <a href="/register">Need an account?</a>
    </p>
    <form action="/login" method="post">
    <section>
      <input required name="username"  type="text" placeholder="username" value="{{.Username}}">
      <input required name="password"  type="password" placeholder="password">
    </section>
    <section>
      <button type="submit"  accesskey="l">
        Sign in
      </button>
    </section>
  </form>      
</section>

{{template "footer" .}}