{{template "header" .}}
<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <!-- Add "active" class when you're on that page" -->
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="register">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="login">Sign in</a>
      </li>
    </ul>
  </div>
</nav>
<div class="auth-page">
    <div class="container page">
      <div class="row">
  
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign in</h1>
          <p class="text-xs-center">
            <a href="/register">Need an account?</a>
          </p>
  
          <ul class="error-messages">
            {{ if .ErrorTitle}}
            <li>{{.ErrorTitle}}</li>
            <li>{{.ErrorMessage}}</li>
            {{end}}
          </ul>
  
          <form action="/login" method="post">
            <fieldset class="form-group">
              <input name="email" class="form-control form-control-lg" type="text" placeholder="Email">
            </fieldset>
            <fieldset class="form-group">
              <input name="password" class="form-control form-control-lg" type="password" placeholder="Password">
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right">
              Sign in
            </button>
          </form>
        </div>
  
      </div>
    </div>
  </div>
{{template "footer" .}}