{{define "menu"}}
<header>
  <nav>
    <ul>
      <li>
        {{if eq "/" .path}}
        <b>tgr.am</b>
        {{else}}
          <a href="/"><b>tgr.am</b></a>
        {{end}}
      </li>
      <li>top</li>
      <li>
        {{if eq "/mid" .path}}
          mid
        {{else}}
          <a href="/mid">mid</a>
        {{end}}
      </li>
      <li>btm</li>
    <div class="navright">
      
      {{if .username}}
      <li>
          {{if eq "/editor/0" .path}}
            new
          {{else}}
            <a href="/editor/0">new</a>
          {{end}}
      </li>
      <li>
          {{if eq (print "/@" .username) .path}}
          @{{.username}}
          {{else}}
            <a href="/@{{.username}}">
              @{{.username}}
            </a>
          {{end}}
      </li>
    {{ else}}
      <li>
          {{if eq "/register" .path}}
          sign up
          {{else}}
            <a href="/register">sign up</a>
          {{end}}
      </li>
      <li>
          {{if eq "/login" .path}}
          sign in
          {{else}}
            <a href="/login">sign in</a>
          {{end}}
      </li>
    {{ end }}
    </div>
    </ul>
  </nav>
</header>
<main>
{{ end }}
