{{define "menu"}}
<header>
  <nav>
    <ul>
      <li>
        {{if eq "/" .path}}
          <b>{{.config.Domain}}</b>
        {{else}}
          <a href="/home"  accesskey="h"><b>{{.config.Domain}}</b></a>
        {{end}}
      </li>
      <li class="unicode">
        {{if eq "/top" .path}}
        ∧
        {{else}}
          <a href="/top"  accesskey="1">∧</a>
        {{end}}
      </li>
      <li class="unicode">
        {{if eq "/mid" .path}}
        Ξ
        {{else}}
          <a href="/mid"  accesskey="2">Ξ</a>
        {{end}}
      </li>
      <li class="unicode">
        {{if eq "/btm" .path}}
        ∨
        {{else}}
          <a href="/btm"  accesskey="3">∨</a>
        {{end}}
      </li>
      {{if .username}}
      {{else}}
        <a href="{{.config.AboutPage}}"  accesskey="4">?</a>
      {{end}}
    <div class="navright">
      
      {{if .username}}
      <li>
          {{if eq "/editor/0" .path}}
            +
          {{else}}
            <a href="/editor/0"  accesskey="n">+</a>
          {{end}}
      </li>
      <li>
          {{if eq (print "/@" .username) .path}}
          @{{.username}}
          {{else}}
            <a href="/@{{.username}}"  accesskey="l">
              @{{.username}}
            </a>
          {{end}}
      </li>
    {{ else}}
      <li>
          {{if eq "/register" .path}}
          sign up
          {{else}}
            <a href="/register"  accesskey="r">sign up</a>
          {{end}}
      </li>
      <li>
          {{if eq "/login" .path}}
          sign in
          {{else}}
            <a href="/login"  accesskey="l">sign in</a>
          {{end}}
      </li>
    {{ end }}
    </div>
    </ul>
  </nav>
</header>
<main>
{{ end }}
