{{define "menu"}}
<header>
    <nav>
      <ul>
        <li>
          {{if eq "/" .path}}
          tgr.am
          {{else}}
            <a href="/">tgr.am</a>
          {{end}}
        </li>
        
        <li>
          {{if eq "/all" .path}}
          all
          {{else}}
            <a href="/all">all</a>
          {{end}}
        </li>
        <div class="navright">
{{if .username}}
      <li>
          {{if eq (print "/@" .username) .path}}
          @{{.username}}
          {{else}}
            <a href="/@{{.username}}">
              @{{.username}}
            </a>
          {{end}}
      </li>
{{ else}}
      <li>
          {{if eq "/register" .path}}
          sign up
          {{else}}
            <a href="/register">sign up</a>
          {{end}}
      </li>
      <li>
          {{if eq "/login" .path}}
          sign in
          {{else}}
            <a href="/login">sign in</a>
          {{end}}
      </li>
{{ end }}
</div>
</ul>
</nav>
</header>
<main>
{{ end }}
