{{ define "minimalisticEditor" }}
<section>
	<h5>Preview</h5>
	<div id="preview"></div>
	<h5>Stats</h5>
	<div id="mdestats"></div>
</section>

<script>
var converter = new showdown.Converter()
var mde=document.getElementById("mde")
mde.addEventListener('input', function () { markdownify(mde,'preview') })
mde.placeholder = "text, markdown, 10..65536"
mde.minHeight = "400px"
markdownify(mde,'preview')

	function markdownify(t,pd) {
document.getElementById(pd).innerHTML=converter.makeHtml(t.value)
Countable.count(t, counter => printStats(counter,t.id+"stats"), {hardReturns: true, stripTags: true})
}

	function printStats(c,id) {
var pds = document.getElementById(id)
	pds.innerHTML=c.characters+" characters "
pds.innerHTML+=c.words+" words "
pds.innerHTML+=c.paragraphs+" paragraphs "
pds.innerHTML+=c.sentences+" sentences "
pds.innerHTML+=c.all+" total characters<br/>"
	}
	</script>
	{{end}}