{{template "header" .}}
{{template "menu" .}}
<section>
    <h3>Typegram Privacy Statement.</h3>
    
    <p><strong>Effective date: August 7, 2018</strong></p>

<h3>What information Typegram collects and why.</h3>

<h4>Information from website browsers</h4>

<ul>
<li><p><a href="https://en.wikipedia.org/wiki/IP_address" rel="nofollow">IP address</a>. We collect IP addresses in order to count unique views of each article.</p></li>

<li><p>Your preferred language. We use it to redirect you to the appropriate site.</p></li>

<li><p>Date and time of each visitor request, in order to count unique views of each article</p></li>
</ul>

<h4>Information from users having an account</h4>

<ul>
<li><p>If you create an account, we require some basic information at the time of account creation. You will create your own user name and password</p></li>

<li><p>You also have the option to give us more information if you wish to, and this may include “User Personal Information.”</p></li>

<li><p>“User Personal Information” is any information about one of our users which could, alone or together with other information, personally identify the user the information relates to. Information such as a user name and password, an email address, real name, and a photograph are examples of “User Personal Information.” User Personal Information includes Personal Data as defined in the General Data Protection Regulation.</p></li>

<li><p>We may use aggregated, non-personally identifying information to operate, improve, and optimize our website and service.</p></li>

<li><p>We may use your email address to communicate with you</p></li>

<li><p>We use your User Personal Information for internal purposes, such as to maintain logs for security reasons, or for preventing spam</p></li>

<li><p>We limit our use of your User Personal Information to the purposes listed in this Privacy Statement. If we need to use your User Personal Information for other purposes, we will ask your permission first. You can always see what information we have, how we’re using it, and what permissions you have given us in your user profile.</p></li>
</ul>

<h4>Our legal basis for processing information</h4>

<p>Under certain international laws (including GDPR), Typegram is required to notify you about the legal basis on which we process User Personal Information. Typegram processes User Personal Information on the following legal bases:</p>

<ul>
<li><p>When you create a Typegram account, you need to provide your user name and a password. By providing this data, you accept our Terms of Service and enter into an agreement, between you (the user) and us (Typegram). We handle the provided data on the basis of performing this specified contract. We also process your user name and email address on other bases, see above.</p></li>

<li><p>When you fill out the information in your user profile, you have the option to provide User Personal Information such as your full name, an avatar which may include a photograph, your biography. We process this information on the basis of consent. All of this information is entirely optional, and you have the ability to access and modify it at any time.</p></li>

<li><p>Generally, the remainder of the processing of personal information we perform is necessary for the purposes of our legitimate interests. For example, for security purposes, we must keep logs of IP addresses that access Typegram. In addition, should we need to respond to legal procedures, we are required to keep records of users who have sent and received DMCA takedown notices.</p></li>
</ul>

<h4>If you’re a child under the age of 18, you may not have an account on Typegram.</h4>

<ul>
<li><p>Typegram does not knowingly collect information from or direct any of our content specifically to children under 18. If we learn or have reason to suspect that you are a user who is under the age of 18, we will unfortunately have to close your account.</p></li>

<li><p>Other countries may have different minimum age limits, and if you are below the minimum age for providing consent for data collection in your country, you may not use Typegram without obtaining your parents’ or legal guardians’ consent.</p></li>
</ul>

<h4>Contents</h4>

<ul>
<li><p>We do not intentionally collect User Personal Information that is stored in your posts or other free-form content inputs.</p></li>

<li><p>Information in your posts belongs to you, and you are responsible for it, as well as for making sure that your content complies with our Terms of Service. Any personal information within a user’s posts is the responsibility of the posts owner.</p></li>

<li><p>If your posts are public, anyone (including us and unaffiliated third parties) may view its contents. If you have included private or sensitive information in your public posts, such as email addresses or passwords, that information may be indexed by search engines or used by third parties. In addition, while we do not generally search for content in your posts, we may scan our servers for certain tokens or security signatures, or for known active malware.</p></li>
</ul>

<h4>How we share the information we collect</h4>

<ul>
<li><p>We <strong>do not</strong> share, sell, rent, or trade User Personal Information with third parties for commercial purposes, except where you have specifically told us to</p></li>

<li><p>We <strong>do not</strong> host advertising on Typegram. We may occasionally embed content from third party sites, such as YouTube, and that content may include ads. While we try to minimize the amount of ads our embedded content contains, we can’t always control what third parties show. Any advertisements on individual Typegram Posts are not sponsored by, or tracked by, Typegram.</p></li>

<li><p>We <strong>do share</strong> certain aggregated, non-personally identifying information with others about how our users, collectively, use Typegram, or how our users respond to our other offerings, such as our conferences or events.</p></li>

<li><p>We may share User Personal Information if we are involved in a merger, sale, or acquisition. If any such change of ownership happens, we will ensure that it is under terms that preserve the confidentiality of User Personal Information, and we will notify you on our website or by email before any transfer of your User Personal Information. The organization receiving any User Personal Information will have to honor any promises we have made in our Privacy Statement or in our Terms of Service.</p></li>
</ul>

<h4>Public information on Typegram</h4>

<ul>
<li>Much of Typegram is public-facing. If your content is public-facing, third parties may access and use it in compliance with our Terms of Service, such as by viewing your profile or posts or pulling data via our API. We do not sell that content; it is yours. However, we do allow third parties, such as research organizations or archives, to compile public-facing Typegram information. Other third parties, such as data brokers, have been known to scrape Typegram and compile data as well.</li>
</ul>

<h4>How you can access and control the information we collect</h4>

<ul>
<li>If you’re already a Typegram user, you may access, update, alter, or delete your basic user profile information by editing your user profile or contacting Typegram Support.</li>
</ul>

<h4>Cookies</h4>

<ul>
<li>Typegram uses cookies for registered users to make interactions with our service easy and meaningful. We use cookies (and similar technologies, like HTML5 localStorage) to keep you logged in, remember your preferences, and provide information for future development of Typegram.</li>
</ul>

<h4>Tracking and analytics</h4>

<ul>
<li>We <strong>do not</strong> use any third party analytics.</li>
</ul>

<h4>How we respond to compelled disclosure</h4>

<ul>
<li><p>Typegram may disclose personally-identifying information or other information we collect about you to law enforcement in response to a valid subpoena, court order, warrant, or similar government order, or when we believe in good faith that disclosure is reasonably necessary to protect our property or rights, or those of third parties or the public at large.</p></li>

<li><p>In complying with court orders and similar legal processes, Typegram strives for transparency. When permitted, we will make a reasonable effort to notify users of any disclosure of their information, unless we are prohibited by law or court order from doing so, or in rare, exigent circumstances.</p></li>
</ul>

<h4>Changes to our Privacy Statement</h4>

<ul>
<li><p>Although most changes are likely to be minor, we may change our Privacy Statement from time to time.</p></li>

<li><p>For changes to this Privacy Statement, we encourage visitors to check our Privacy Statement frequently.</p></li>
</ul>

<h4>License</h4>

<p>This Privacy Statement is licensed under this <a href="https://creativecommons.org/publicdomain/zero/1.0/" rel="nofollow">Creative Commons Zero license</a>.</p>


</section>
{{template "footer" .}}