{{template "header" .}}
{{template "menu" .}}
<section>
    <h2>Sign up</h2>
    <p>
        <a href="/login">Have an account?</a>
    </p>
    <form action="/register" method="post">
    <section>
      <input required name="username" type="text" placeholder="Username (max 20)" value="{{.Username}}">
      <input required name="password" type="password" placeholder="Password (min 4)" value="{{.Password}}">
      
    </section>
    <section>
        <input type="checkbox" name="good" value="good"> I'm the good internet person<br>
    </section>
    <section>
      <div class="g-recaptcha" data-sitekey="6Lc_fGQUAAAAAM_u49e8rjA4cgeLQCHI_LWoARGB"></div>
    </section>
    <section>
      <button type="submit">
        Sign up
      </button>
    </section>
  </form>      
</section>

{{template "footer" .}}