{{template "header" .}}
{{template "menu" .}}
<section>
    <h2>Sign up</h2>
    <p>
        <a href="/login">Already have an account?</a>
    </p>
    <form action="/register" method="post">
    <section>
      <input required name="username" type="text" placeholder="username, alphanum, 1..20" value="{{.Username}}">
      <input required name="password" type="password" placeholder="password, 6..255" value="{{.Password}}">
    </section>
    <section>
        <input type="checkbox" name="good" value="good"> I am here to cause havoc, and to destroy the world<br/>
        <input type="checkbox" name="privacy" value="privacy"> I have read and accept the <a href="/policy" target="_blank" >{{.config.SiteName}} Privacy Statement</a><br>
        <input type="checkbox" name="terms" value="terms"> I have read and accept the <a href="/terms" target="_blank" >{{.config.SiteName}} Terms of Service</a><br>
    </section>
    <!--
    <section>
      <div class="g-recaptcha" data-sitekey="6Lc_fGQUAAAAAM_u49e8rjA4cgeLQCHI_LWoARGB"></div>
    </section>
    -->
    <section>
      <button type="submit">
        Sign up
      </button>
    </section>
  </form>      
</section>

{{template "footer" .}}