{{template "header" .}}
{{template "menu" .}}

        <h1 class="text-xs-center">Your Settings, {{.username}}</h1>
        
        <form action="/settings" method="post">
          <section>
              
                <input name="image" class="form-control" type="text" placeholder="URL of profile picture" value="{{.image}}">

                <textarea name="bio" class="form-control form-control-lg" rows="8" placeholder="Short bio about you">{{.bio}}</textarea>

                <input name="email" class="form-control form-control-lg" type="text" placeholder="Email" value="{{.email}}">

                <input name="password" class="form-control form-control-lg" type="password" placeholder="Password" value="">

              <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
                Update Settings
              </button>
          </section>
        </form>
        <hr/>
        <a href="logout" class="btn btn-outline-danger">Or click here to logout.</a>
{{template "footer" .}}