{{template "header" .}}
{{template "menu" .}}

<h5>Your settings, {{.username}}</h5>

<form action="/settings" method="post">
  <section>
      
        <input name="image" type="text" placeholder="url of profile picture, link" value="{{.image}}">
        <textarea name="bio" rows="5" placeholder="description, text, 0..1024">{{.bio}}</textarea>
        <input name="email"  type="text" placeholder="email, omitempty" value="{{.email}}">
        <input name="newpassword" type="password" autocomplete="new-password" placeholder="new password, 6..255" value="">
        <input name="password" type="password" autocomplete="new-password" required placeholder="password" value="">
<div>Editor:    
<select name="editor">
	<option value="0"{{if eq .editor 0}} selected{{end}}>Default</option>
		<option value="1"{{if eq .editor 1}} selected{{end}}>Minimalistic</option>
			<option value="2"{{if eq .editor 2}} selected{{end}}>Minimalistic, no Javascript</option>
</select></div>
      <button type="submit"  accesskey="u" >
        Update
      </button>
  </section>
</form>
<hr/>
<a href="logout"  accesskey="o">Or click here to logout.</a>
{{template "footer" .}}