{{template "header" .}}
{{template "menu" .}}

<h5>Typegram 2 Telegram</h5>

<form action="/export/type2tele" method="post">
 <h4>This is an experimental feature! Use it on your own risk</h4>
 <p>Add type2telegrambot to your channel (as administrator!)</p>
 <p>And i will publish new posts to this channel</p>
  <section>
    <input name="channel" type="text" placeholder="channel name (or id for private channels), @channel, text" value="{{.channel}}">
    <input type="checkbox" id="notext" name="notext" value="notext" {{.notextchecked}} />
    <input name="token" type="hidden" value="{{.token}}">
    <label for="notext">don't send full text</label>
  </section>
  <button type="submit"  accesskey="u">Update</button>
</form>
<hr/>

{{template "footer" .}}