{{template "header" .}}
{{template "menu" .}}


<div class="auth-page">
    <div class="container page">
      <div class="row">
  
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign up</h1>
          <p class="text-xs-center">
            <a href="/login">Have an account?</a>
          </p>
  
          <ul class="error-messages">
            {{ if .ErrorTitle}}
            <li>{{.ErrorTitle}}</li>
            <li>{{.ErrorMessage}}</li>
            {{end}}
          </ul>
  
          <form action="/register" method="post">
            <fieldset class="form-group">
              <input name="username" class="form-control form-control-lg" type="text" placeholder="Your username (max 20)" value="{{.Username}}">
            </fieldset>
            <fieldset class="form-group">
              <input name="password" class="form-control form-control-lg" type="password" placeholder="Password (min 4)" value="{{.Password}}">
            </fieldset>
            <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
              Sign up
            </button>
          </form>
        </div>
  
      </div>
    </div>
  </div>
{{template "footer" .}}