{{template "header" .}}
{{template "menu_user" .}}
<div class="settings-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>
        <ul class="error-messages">
            {{ if .ErrorTitle}}
            <li>{{.ErrorTitle}}</li>
            <li>{{.ErrorMessage}}</li>
            {{end}}
          </ul>
        <form action="/settings" method="post">
          <fieldset>
              <fieldset class="form-group">
                <input name="image" class="form-control" type="text" placeholder="URL of profile picture" value="{{ if .my_user_model.Image}} {{.my_user_model.Image}} {{ end }}">
              </fieldset>
              <fieldset class="form-group">
                <input name="username" class="form-control form-control-lg" type="text" placeholder="Your Name" value="{{.my_user_model.Username}}">
              </fieldset>
              <fieldset class="form-group">
                <textarea name="bio" class="form-control form-control-lg" rows="8" placeholder="Short bio about you">{{.my_user_model.Bio}}</textarea>
              </fieldset>
              <fieldset class="form-group">
                <input name="email" class="form-control form-control-lg" type="text" placeholder="Email" value="{{.my_user_model.Email}}">
              </fieldset>
              <fieldset class="form-group">
                <input name="password" class="form-control form-control-lg" type="password" placeholder="Password" value="">
              </fieldset>
              <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
                Update Settings
              </button>
          </fieldset>
        </form>
        <hr/>
        <a href="logout" class="btn btn-outline-danger">Or click here to logout.</a>
      </div>

    </div>
  </div>
</div>
{{template "footer" .}}